<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.sigh.dev.login.mapper.LoginMapper">
    <select id="login"  resultType="com.mars.sigh.dev.login.model.UserInfo">
        select * from userinfo where userid = #{userId,jdbcType=INTEGER} and pwd=#{pwd}
    </select>


</mapper>